.place__image {
  width: 46.747967479%;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: 42.96875vw;
    height: 42.96875vw;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: 44.270833333vw;
    height: 44.270833333vw;
  }
}

@media screen and (max-width: 600px) {
  .place__image {
    width: 100%;
    height: 100%;
    margin-bottom: 32px;
  }
}
