.cover__subtitle {
  margin: 0;
  position: relative;
  font-size: 18px;
  line-height: 22px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  width: 360px;
  z-index: 3;
  padding-bottom: 245px;
}

@media screen and (max-width: 1184px) {
  .cover__subtitle {
    padding-bottom: 20.692567567%;
  }
}

@media screen and (max-width: 1024px) {
  .cover__subtitle {
    padding-bottom: 19.04296875%;
  }
}

@media screen and (max-width: 768px) {
  .cover__subtitle {
    padding-bottom: 14.973958333%;
  }
}

@media screen and (max-width: 370px) {
  .cover__subtitle {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 33px;
    width: 288px;
  }
}
