.header {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 92.5%;
}

@media screen and (max-width:1024px) {
  .header{
    width: 90.625%;
  }
}

@media screen and (max-width:768px) {
  .header{
    width: 93.75%;
  }
}

@media screen and (max-width:320px) {
  .header{
    width: 90%;
    margin-top: 16px;
  }
}
