.footer__copyright {
  margin-top: 2px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    font-size: 1.3671875vw;
    line-height: 1.5625vw;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 1.822916666vw;
    line-height: 2.083333333vw;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
    font-size: 14px;
    margin-top: 16px;
  }
}
