.cover {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-clip: padding-box;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}


@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}
