.place__link {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: white;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width:320px) {
  .place__link {
    margin-bottom: 32px;
  }
}
