.cover__title {
  display: block;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 32px;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 245px;
  z-index: 3;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding-top: 115px;
    font-size: 7.03125vw;
    line-height: 7.421875vw;
  }
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 72.916666666vw;
    padding-top: 14.973958333vw;
    font-size: 9.375vw;
    line-height: 9.895833333vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    height: 21.875vw;
    padding-top: 10.3125vw;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
