.place {
  width: 984px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 90.625vw;
  }
}

@media screen and (max-width: 768px) {
  .place {
    width: 93.75vw;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    width: 100vw;
    margin-bottom: 50px;
  }
}
