.place__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 3.125vw;

}

@media screen and (max-width: 600px) {
  .place__website {
    margin-top: 32px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
